.productlist-section {
    margin-bottom: 20px;
  }
  
  .productlist-title {
    color: hsl(10deg, 90%, 80%);
    margin-bottom: 50px;
  }
  
  .productlist-scrollList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 16px;
    gap: 16px;
  }